<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main
  class="wp-block-group main-banner"
  style="margin-top: 0; margin-bottom: 0">
  <!-- wp:pattern {"slug":"travel-store/ads"} /-->
  <!-- wp:pattern {"slug":"travel-store/brands"} /-->
  <!-- wp:pattern {"slug":"travel-store/offer-promotion"} /-->
  <!-- wp:pattern {"slug":"travel-store/category"} /-->
  <!-- wp:pattern {"slug":"travel-store/new-product"} /-->
  <!-- wp:pattern {"slug":"travel-store/testimonials"} /-->
  <!-- wp:pattern {"slug":"travel-store/top-sells"} /-->
  <!-- wp:pattern {"slug":"travel-store/latest-post"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
